/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import "https://www.nerdfonts.com/assets/css/webfont.css";

i {
  /* color: rgb(115 130 175 / 95%); */
  margin-right: 4px;
}

body {
  color: rgb(255 255 255 / 90%);
  overflow: hidden;
  font-size: 13px;
  opacity: 1;
  text-shadow: 1px 3px 3px #000000;
}

html,
body,
root {
  height: 100%;
}

@keyframes flash {
  from { opacity: 1.0; }
  50% { opacity: 0.5; }
  to { opacity: 1.0; }
}

#root {
  border: 2px 2px 2px 2px solid rgb(255 255 255 / 5%);
  #background: linear-gradient(rgb(0 0 0 / 90%), rgb(5 2 20 / 85%));
}

.app {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  align-items: center;
  height: 100%;
  font-family: Hack Nerd Font, monospace;
  padding: 1px;
  #background: #101010;
  #border: 1px;
  border-radius: 12px;
  opacity: 1;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  justify-self: end;
  font-size: 14px;
  opacity: 0;
}

.right {
  justify-content: end;
}

.logo,
.binding-mode,
.tiling-direction,
.network,
.memory,
.cpu,
.cycle_count,
.battery {
  margin-right: 5px;
}

.network,
.cycle_count,
.uptime,
.memory,
.cpu,
.battery,
.weather {
  background: rgb(255 255 255 / 7%);
  padding: 2px 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
}

.workspaces {
  display: flex;
  align-items: center;
}

.workspace {
  background: rgb(61 117 152 / 40%);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;

  &.displayed {
    background: rgb(255 255 255 / 15%);
  }

  &.focused,
  &:hover {
    background: #ffd700;
    color: black;
    border: 2px #463f17;
  }
}

.workspace:not(:nth-child(7)) {
  margin-right: 6px;
  text-shadow: 1px 2px 3px #000000;
}

.binding-mode,
.tiling-direction {
  background: rgb(255 255 255 / 15%);
  color: rgb(255 255 255 / 90%);
  border-radius: 10px;
  line-height: 1;
  padding: 4px 5px;
  border: 0;
  cursor: pointer;
}

.binding-mode {
  margin-right: 4px;
}

.orange {
  color: #ffa500;
}

.red {
  color: #ff4500;
}

.green {
  color: #33ff57;
}

.cpu {
  color: #f29b9b;
}

.cpu .high-usage {
  color: #900029;
  animation: flash 0.5s infinite;
}

.memory {
  color: gold;
}

.memory .high-usage {
  color: #900029;
  animation: flash 0.5s infinite;
}

.battery {
  position: relative;
  /* color: #ffa500; */
}

.battery .charging-icon {
  position: absolute;
  font-size: 8px;
  left: 1px;
  top: 3px;
  color: rgb(255, 60, 0);
}

.cycle_count {
  color: white;
}

.uptime {
  color: #00a8ff;
}

.weather {
  color: yellow;
}


